# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Database
iapost.db
iapost.db-journal
data/*.db

# Logs
logs/*.log
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# OS
.DS_Store
Thumbs.db
